.slide h5 {
    color: #f33f3f;
    font-weight: bold;
    font-size: 30px;
}

.slide p {
    font-size: 40px;
}

.block_heading h5 {
    color:#1a6692;
}

.block_heading p {
    font-size: 18px;
    color: #121212;
    font-weight: bold;
}



